:root{
  /* main colours: */
  --offwhite:#f7e4ea;
  --pink: #ec74ae;
  --purple: #cc68cc;
  --blue:#123e95;
  --textcolour:#21123d;

  /* secondary colours */
  --darkpink: #ca598f;
  --darker-pink: #943563;
  --darkpurple: #3b226a;

  --brown: #8c3f2a;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color:var(--offwhite);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--textcolour);
}

.App-link {
  color: var(--blue);
  text-decoration: none;
  &:hover{
    transform: scale(1.02);
    text-decoration: underline;
  }
}

.magazine-rack{
  background-color: var(--brown);
  color:var(--offwhite);

  width: 90%;
  height:70%;

  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
 */
