:root{
  --white:#f7e4ea;
  --pink:#ec74ae;
  --pinkpurple:#cc68cc;
  --linkblue:#123e95;
  --darkpurple:#21123d;

  height: 100%;
  margin:0;
  padding:0;
  background-color: var(--white);
}
.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.App-content

.App-link {
}

/* 
animation ref:
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */